body{
    font-family: 'Raleway', sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
}
.header_container_fluid{
    border-top: 5px solid #bf0604;
    margin: 0px !important;
    padding: 0px !important;
}
.header_logo_wrap img{
    margin-top: 20px;
}
.teltext{
    margin-top: 10px;
}
.mynavbar a{
    color:#bf0604;
    padding: 10px 20px 10px 20px;
}
.mynavbar a:hover{
background: #e12020;
background: -moz-linear-gradient(top, #e12020 0%, #6d0507 100%);
background: -webkit-linear-gradient(top, #e12020 0%,#6d0507 100%);
background: linear-gradient(to bottom, #e12020 0%,#6d0507 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e12020', endColorstr='#6d0507',GradientType=0 ); /* IE6-9 */
    border-radius: 5px;
    color: #fff;
}
.slider_img{
    width: 100%;
}
.our_services_containerfluid,.aboutus_containerfluid{
    background: #ededed;
}
.ourservices_colums{
    /* padding: 0 20px 0 20px; */
}
.ourservices_colums div p{
 padding: 10px;
}
.ourservice_links{
    padding: 10px;
}
.aboutus_containerfluid{
    padding: 65px 0px 0px 0px !important;
    
}
.aboutus_text_column{
    padding: 0 20px 0 0;
}
.aboutus_text_column p{
    line-height: 40px;
    padding: 0px 20px 0 20px;
}

.uni_btn{
    padding: 0px 40px 0px 40px; 
    border-radius: 30px;
}
.read_morebtn{
    color:#6d0507 !important;
    border-color: #6d0507 !important; 
    margin-left: 150px;
    transition: all .2s ease-in-out;
}
.read_morebtn:hover{
    color: #fff !important;
    background:#6d0507 !important;
    border-color: #6d0507 !important; 
}
.submit_btn{
    color:#6d0507 !important;
    border-color: #6d0507 !important;
    height: 48px;
    transition: all .2s ease-in-out;
}
.submit_btn:hover{
    color: #fff !important;
    background:#6d0507 !important;
    border-color: #6d0507 !important; 
}
.partners_columns{
    padding: 50px 0 50px 0;
}
.contact_form_inner_column{
    
}
.video_iframe{
    border-radius: 20px;
}
.h_input{
    height: 58px !important;
}
.h_contact_form_message{
    height: 200px;
}
.footer_containerfluid{
    min-height: 136px;
    background-image: url(../images/footer_bg.jpg);
}
.footer_nav a{
    color:#a60b0b;
    display: inline-flex;
    height: 28px;
    padding: 5px 10px 5px 10px;
}
.footer_nav .active{
    color:#fff;
}


